:host {
  display: block;
}

.customs-card {
  padding: 4px;
}

.p-dialog-container {
  overflow: hidden; /* Limpiar el float */
}

.left1 {
  width: calc(50% - 1px); /* Ancho de la parte izquierda menos el grosor del borde */
  float: left;
  border-right: 3px dashed #5a7288; /* Borde izquierdo para separar */
  padding-right: 10px; /* Espacio adicional a la derecha de la línea */
}

.right1 {
  width: calc(50% + 1px); /* Ancho de la parte derecha más el grosor del borde */
  float: right;
}

.btn-secondary {
  background-color: #5a7288;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 60%; /* Ajuste para mover el botón hacia la derecha */
  margin-top: 0px;
}

.content-right {
  margin-top: 20px; /* Espacio entre el botón y el contenido adicional */
  margin-left: 10px;
}

/* Clearfix para limpiar el float */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.message{
  color: crimson;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

fa-icon {
  color: red;
}