:host {
  display: block;
}

.card{
  padding-left: 2px;
  padding-right: 2px;
  border: 1px solid #ccc;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    margin-bottom: 4px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
}
